# Temp/Rando Files
~*
.DS_Store
.env*

# Yarn Ignores
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# Build Output
packages/*/dist/
packages/*/lib/

# Test Output
coverage/

# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

.cache/
