@import '@fluentui/react/dist/sass/_References';

.appPageContainer {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 56px);
}

.appHeaderWrapper {
	display: flex;
	background-color: $ms-color-themePrimary;
	height: 30px;
	color: white;
	align-items: center;
	padding: 10px 20px;
}

.appHeaderContainer {
	font-weight: 600;
	align-items: center;
	display: flex;
	margin-left: -10px;
}

.appHeaderTitle {
	margin-left: 10px;
}

.appHeaderPersona {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
}

.appHeaderUsername {
	font-size: 14px;
	margin-right: 10px;
	margin-left: 10px;
}

.appBodyWrapper {
	display: flex;
	flex-direction: row;
	flex: 1;
}

.appBodyLeft {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
	flex: 1;
	min-width: 900px;
}

.appBodyRight {
	display: flex;
	flex-direction: column;
	background-color: $ms-color-gray20;
	width: 500px;
}

.appFooterRow {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $ms-color-gray20;

	div {
		font-size: 12px;
	}
}

.bodyContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 8px;
}

.bodyHeader {
	padding: 50px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	&.subContent {
		justify-content: unset;
	}
}

.bodyHeaderTitle {
	display: flex;
	flex-direction: column;

	.mainTitle {
		font-size: 32px;
	}

	.breadCrumbs {
		font-size: 14px;
		margin-bottom: 10px;

		.crumbLink {
			font-size: 14px;
			cursor: pointer;
			color: $ms-color-themePrimary;
		}
	}
}

.bodyContent {
	section {
		margin-bottom: 20px;
		border-radius: 2px;
	}
}
