@import '@fluentui/react/dist/sass/_References';

.dashboardPageWrapper {
	display: flex;
	flex-direction: column;

	.bodyHeader {
		padding: 50px 0 20px 0;
	}

	.sectionHeader {
		font-size: 20px;
		border-bottom: 1px solid $ms-color-gray40;
		padding: 20px 0;
	}

	.sectionContent {
		padding: 20px 0;

		.tableActionLink{
			text-decoration:none;
			color:unset;
			i {
				color: #0078d4;
				vertical-align:middle; 
				padding-right:5px;
			}
		}

		.infoButton {
			color: $ms-color-themePrimary;
			cursor: pointer;
		}
	}
}

.infoCallout {
	max-width: 800px;
}

.infoCalloutBody {
	height: 100%;
	padding: 0 20px 10px 20px;
}

.infoHeader {
	color: $ms-color-themePrimary;
	padding: 10px 0;
	font-weight: 600;
}

.infoBody {
	white-space: pre-wrap;
	word-break: break-word;
}

.refreshRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.refreshDataHeaderButton {
	display: flex;
	padding: 20px;
	cursor: pointer;

	.refreshIcon {
		margin-right: 4px;
		color: $ms-color-themePrimary;
	}

	&:hover {
		font-weight: 600;
	}
}

.dialogBodyText {
	font-size: 16px;
	padding-bottom: 10px;
}