@import '@fluentui/react/dist/sass/_References';

.dashboardPageWrapper {
	display: flex;
	flex-direction: column;

	.sectionHeader {
		font-size: 20px;
		border-bottom: 1px solid $ms-color-gray40;
		padding: 20px 0;
	}

	.sectionContent {
		padding: 20px 0;

		.tableActionLink{
			text-decoration:none;
			color:unset;
			i {
				color: #0078d4;
				vertical-align:middle; 
				padding-right:5px;
			}
		}
	}
}
