@import '@fluentui/react/dist/sass/_References';

.locationPageContainer {
	display: flex;
	flex-direction: column;
}

.addLocationHeaderButton {
	display: flex;
	padding: 20px;
	cursor: pointer;

	i {
		margin-right: 4px;
	}

	&:hover {
		font-weight: 600;
	}
}

.searchRow {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.locationDetailsList {
	.ms-DetailsRow {
		.editIcon {
			visibility: hidden;
			cursor: pointer;
			color: $ms-color-themePrimary;
		}

		&.is-selected {
			.editIcon {
				visibility: visible;
			}
		}

		&:hover {
			.editIcon {
				visibility: visible;
			}
		}
	}
}

.phaseGroupHeader {
	border-bottom: 1px solid $ms-color-gray40;
	cursor: pointer;
	display: flex;
	justify-content: space-between;

	.groupHeaderLabel {
		display: flex;
		padding: 20px 10px;
		flex-grow: 1;
	}

    .groupHeaderButtons {
        display: flex;
        flex-direction: row;
		padding: 20px 10px;

        div {
            margin-right: 40px;
            display: flex;

            i {
                margin-right: 4px;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                font-weight: 600;
            }
        }
    }

	&:hover {
		background-color: $ms-color-gray40;
	}

	.groupToggleIcon {
		padding: 0 10px;
	}
}

.phaseGridContainer {
	.ms-FocusZone {
		max-width: 100% !important;
		width: 100%;
	}
	.ms-DetailsRow-cell {
		padding-left: 48px;
	}
}