.loginPageContainer {
	background-color: #0078d4;
	height: calc(100vh - 76px);
	display: flex;
}

.loginContainer {
	width: 600px;
	margin: auto;

	h3 {
		color: white;
		font-weight: 400;
		font-size: 2em;
		margin-bottom: 20px;
	}
}
