@import '@fluentui/react/dist/sass/_References';

.phaseDetailRow {
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	margin-left: 10px;
	width: calc(100% - 55px);

	.mainRow {
		display: flex;
		flex-direction: row;
		margin-left: 34px;

		.tagDropdown {
			padding: 0 10px 5px 0;
		}

		.infoIcon {
			color: $ms-color-sharedRed10;
			font-size: 20px;
			padding: 7px;
		}
	}

	.detailsRow {
		display: flex;
		flex-direction: column;
		margin-left: 34px;

		.ms-TextField-field {
			overflow: auto;
		}
	}
}
