@import '@fluentui/react/dist/sass/_References';

.qualifierPanelContainer {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: -10px;
}

.panelHeader {
	padding: 50px 20px;
	display: flex;
}

.panelHeaderTitle {
	font-size: 24px;
}

.panelBody {
	padding: 0 20px;

	.noQualifiers {
		margin-top: 40px;
		text-align: center;
	}
}

.qualifierGroupItem {
	.ms-DetailsRow {
		background-color: transparent;
		cursor: pointer;

		&:hover {
			background-color: $ms-color-gray40;
			font-weight: 600;
		}
		&.is-selected {
			background-color: $ms-color-gray40;
			font-weight: 600;
		}
	}
}

.addQualiferHeaderButton {
	cursor: pointer;
	margin: 10px 0;
	display: flex;

	.addQualifierIcon {
		color: $ms-color-themePrimary;
		margin-right: 5px;
	}
}
