@import '@fluentui/react/dist/sass/_References';

.reviewPageContainer {
	display: flex;
	flex-direction: column;

	.bodyHeader {
		padding: 50px 0 20px 0;
	}

	.ms-MessageBar--error {
		margin-bottom: 1em;
	}

	.submitContainer {
		margin: 40px 0 10px 0;

		.ms-TextField {
			text-align: left;
			margin-bottom: 20px;
			width: 60%;
		}
		.ms-Button {
			margin-top: 20px;
		}
	}

	.loadingContainer {
		display: flex;
		justify-content: center;
		text-align: center;

		.ms-ProgressIndicator {
			width: 90%;
			margin-top: 20%;
		}
	}
}
