@import '@fluentui/react/dist/sass/_References';

.translatePageContainer {
	display: flex;
	flex-direction: column;

	.listTitle {
		display: flex;
		border-bottom: 1px solid $ms-color-gray40;
		cursor: pointer;
	}

	.groupToggleIcon {
		padding: 0 10px;
	}

	section {
		margin: 0 6px;
	}
}


.filterGroup {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;

	.ms-Dropdown-container {
		margin-right: 20px;
		width: 200px;
	}
}

.translateListRow {
	display: flex;
	flex-direction: row;
	padding: 10px 10px 10px 36px;
	align-items: center;

	&.altRow {
		background-color: $ms-color-gray20;
	}

	&.qualifier, &.misc {
		.fromCol {
			flex: 2;
			padding-right: 35px;
		}

		.toCol {
			flex: 2;
		}
	}

	.fromCol {
		flex: 1;
	}

	.toCol {
		flex: 2;
	}
}

.emptyTranslateListRow {
	display: flex;
	padding: 20px 20px 20px 36px;
}